.page-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-left: 20px;
    margin-right: 20px;
}

.navbar {
    width: 100%; 
}

.content-container {
    width: 100%; 
    padding: 20px; 
    text-align: center; 
}

.form-container {
    width: 400px; 
    margin: 0 auto; 
}

.form-container h2 {
    text-align: center; 
}

.form-group {
    display: flex; 
    align-items: center; 
    margin-bottom: 15px; 
}
input[type="text"]{
    width:100% !important;
    padding:8px;
    border:none !important;
    border-radius: 5px;
    margin-right: 0 !important;
}

.form-group label {
    width: 150px; 
    text-align: left; 
    margin-right: 10px; 
}

.form-container .MuiTextField-root {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none !important;
}

.button-container {
    text-align: center; 
    margin-top: 20px; 
}
